footer {
    background: #A30000;
    text-align: center;
    display: flex;
    align-items: center;
    height: 220px;
    color : white;
    font-weight: bold;
    bottom: 300px;

    
}
.container {
    margin: auto;
    width: 100%;

    
  }