.form-container{

   width: 100%;
   display: flex;
   justify-content: center;

    .form{
        width: 500px;
        padding: 2em 4em ;
        border-radius: 5px;
        box-shadow: rgba(139, 139, 139, 0.993) 1px 1px 10px;
        margin: 2em 0;
        &__inputs-container{
            // border:3px solid blue;

            .form-title{
            text-align: center;
            font-size: 48px;
            width: 100%;
            // border: 1px solid blue;
            margin: .8em 0;
        }
            .form__input-item{
            width: 100%;
            // border: 1px solid red;
            margin: .8em 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            font-size: 24px;
                .form-input{
                    width: 100%;
                    height: 40px;
                    
                    
                }
          
        }
          .form-btnregistro{
                width: 100%;
                padding: 14px 30px;
                border-radius: 5px;
                background: #A30000;
                border: none;
                outline: none;
                margin-top: 20px;
                font-size: 24px;
                color: white;
                &:hover{
                    background:#EC9F05 ;
                    box-shadow: black 1px 1px 4px;
                    color: white;
                }
            }
            
        }

       
        
        &-error{
            display: flex;
            margin: 10px;
            color: red;
        }
    }

}

// @media (max-width:500px){
//     .form-container{
        
//         .form{
//             width: 370px;
            
//             &-title{
//                 text-align: center;
//                 border: 3px solid blue;
//                 font-size: 30px;
//             }

//             &-inputs{
//                 display: flex;
//                 text-align: center;
//                 align-items: center;
//                 justify-content: center;
//                 border: 3px solid red;
//                 background: blue;
//             }


//         }
        
//     }
// }

@media(max-width:780px){
    .form-container{
        width: 100%;
        
    }
}