.nav{
    background: #A30000;
    display: flex;
    max-width: 100%;
    color:white;
    height: 100%x;

    &-logo{
        flex-grow: 1;
    }

    &-buttonlistaprod{
        color:white;
        padding: 10px;
        max-width: 20%;
        a{
            
            align-items: center;

        }

        &:hover{
            background: #EC9F05;
        }

    }
}
