.product__container{
    width: 100%;
    display: flex;
   justify-content: center;
   flex-direction: column;

    .product__container-header{;
        padding: 2em 4em ;
        border-radius: 5px;
        box-shadow: rgba(139, 139, 139, 0.993) 1px 1px 10px;
        margin: 2em 0;
        .product__container-title{
            font-size: 48px;
            text-align: center;
            width: 100%;
        }
        .product__container-buttons{
            padding: 10px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            .btn-nuevo-prod{
                width: 100%;
                padding: 14px 30px;
                border-radius: 5px;
                background: #A30000;
                border: none;
                outline: none;
                margin-top: 20px;
                font-size: 24px;
                color: white;

                &:hover{
                    background:#EC9F05 ;
                    box-shadow: black 1px 1px 4px;
                    color: white;
                }
            }
        }
    }
}

@media(max-width:780px){
    .product__container{
        width: 100%;
        
    }
}